* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background: #059669;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}
