<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $i, $el := .Site.Data.projects.source }}
        <h5 class="project">
          <a class="github-button" href="{{ $el.link }}" target="_blank" data-show-count="true" aria-label="Star {{ $el.name }} on GitHub">Star</a><br>
          <strong><a href="{{ $el.link }}" target="_blank">{{ $el.name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
          <!-- Place this tag where you want the button to render. -->
        </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
