{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3 class="headline">I'm <strong>{{ .Site.Params.author }}</strong></h3>
        <h4>I do A.I. and stuff... and lots of <a href="{{ .Site.BaseURL }}projects/">Open Source</a></h4>
        <h4>I do Deep Learning, Data Science, and full stack distributed systems</h4>
        <h4>CTO at <a href="https://www.datumcon.com/" target="_blank">Datum Consultants</a></h4>
        <h4>I created <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a>, <a href="https://github.com/tiangolo/uwsgi-nginx-flask-docker" target="_blank">Docker images for Flask</a> and <a href="{{ .Site.BaseURL }}projects/" target="_blank">other tools</a></h4>
        <h3 class="headline">You are probably looking for my <a href="{{ .Site.BaseURL }}projects/">open source projects</a></h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
